# Unix-style newlines with a newline ending every file
[*]
charset = utf-8
end_of_line = lf
indent_size = 2
indent_style = space
insert_final_newline = true
trim_trailing_whitespace = true

# Override for Makefile
[{Makefile, makefile, GNUmakefile, Makefile.*}]
tab_width = 4
indent_style = tab
indent_size = tab

[*.sh]
indent_size = unset
indent_style = tab

# Enforce `go` formatting rules
[*.go]
indent_size = unset
indent_style = tab

[*.json]
insert_final_newline = false

[COMMIT_EDITMSG]
max_line_length = 0
